.env
.git
/node_modules
/public/hot
/public/storage
/storage
/vendor
npm-debug.log
yarn-error.log
public/mix-manifest.json
public/js/app.js
public/css/app.css
package-lock.json
composer.lock
Dockerfile
docker-compose.yaml
cloudbuild.yaml
